
.top{
  width: 100%;
  min-height: 100vh;
  font-size: #333;
  position: relative;
  .image{
    width: 100%;
    height: 622px;
  }
  .rulesBtn{
    position: absolute;
    top: 200px;
    right: 0;
    width: 126px;
    height: 46px;
    background: #D0021B;
    font-size: 22px;
    color: #fff;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 1;
  }
  .info{
    width: 700px;
    margin: -170px auto 0;
    padding-bottom: 50px;
    border-radius: 30px;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFF6E6 98%);
    box-shadow: 0 6px 12px 0 rgba(191,51,0,0.30);
    z-index: 1;
    position: relative;
    padding-top: 1px;
    .product{
      width: 673px;
      height: 176px;
      border-radius: 13px;
      background: #FBF5E7;
      overflow: hidden;
      margin: 10px auto;
      display: flex;
      white-space: nowrap;
      .outer{
        display: inline-block;
      }
      .date{
        width: 203px;
        height: 100%;
        flex-shrink: 0;
        flex-direction: column;
        font-size: 22px;
        color: #999;
        .status{
          margin-top: 20px;
        }
        &.on{
          width: 266px;
          height: 156px;
          margin: 10px 0;
          background: #FCDFDA;
          color: #D0021B;
          border-radius: 13px;
          .status{
            font-size: 28px;
            color: #fff;
            width: 140px;
            height: 42px;
            display: flex;
            border-radius: 100px;
            background-image: linear-gradient(-180deg, #FD3F39 0%, #D0021B 100%);
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .cd{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      height: 30px;
      margin: 20px 0;
      .desc{
        display: flex;
        align-items: center;
      }
      .num{
        width: 28px;
        height: 32px;
        background: #333;
        font-size: 21px;
        color: #fff;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        &.off{
          background: transparent;
          color: #333;
          margin: 0;
        }
      }
      .red{
        background: #D0021B;
      }
    }
    .ticket{
      width: 631px;
      height: 194px;
      margin: 40px auto;
      background: url(https://img.xianxiapai.net/saas/seckillTicket.png) no-repeat;
      background-size: contain;
      background-position: center;
      display: flex;
      justify-content: space-between;
      position: relative;
      .des{
        display: flex;
        flex-direction: column;
        margin: 40px 0 30px 210px;
        justify-content: space-between;
        .name{
          font-size: 30px;
          color: #000;
        }
        .desc{
          color: #D0021B;
          font-size: 22px;
          .price{
            font-size: 40px;
            font-weight: bold;
          }
          .mark{
            color: #666;
            text-decoration: line-through;
          }
        }
      }
      .count{
        position: absolute;
        top: 78px;
        right: 19px;
        width: 135px;
        height: 46px;
        background-image: linear-gradient(135deg, #CB3EFF 2%, #FF5636 100%);
        font-size: 22px;
        color: #fff;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }
    }
    .btn,.btnTop{
      width: 554px;
      height: 100px;
      margin: 20px auto;
      border-radius: 100px;
      background-image: linear-gradient(-180deg, #FA6161 0%, #DD2310 99%);
      box-shadow: 0 6px 12px 0 rgba(191,51,0,0.30);
      .btnTop{
        position: relative;
        top: -5px;
        font-size: 42px;
        color: #fff;
        background-image: linear-gradient(-180deg, #FF8B79 0%, #FC5F46 100%);
      }
      &.trans{
        opacity: 0;
      }
      &.empty{
        border: 2px solid #FF5E51;
        background: transparent;
        color: #FF5E51;
        box-sizing: border-box;
        box-shadow: none;
      }
      &.gray{
        background-image: linear-gradient(-180deg, #949494 0%, #878787 98%);
        box-shadow: 0 6px 12px 0 #C8C8C8;
        .btnTop{
          background-image: linear-gradient(-180deg, #CFCFCF 0%, #B8B8B8 95%);
        }
      }
    }
  }
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}